<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins" id="wrapper">
      <div class="ibox-title">
        <h5>Tarefas - {{ idTarefa }}</h5>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-4 b-r">
            <h3 class="m-t-none m-b">Atualizar Tarefa</h3>
            <form [formGroup]="form" novalidate>
              <div class="form-group">
                <input type="text" formControlName="titulo" placeholder="Digite o título *" class="form-control" />
              </div>
              <div class="form-group">
                <input type="text" formControlName="descricao" placeholder="Descrição" class="form-control" />
              </div>
              <div>
                <button
                  class="btn btn-sm btn-primary btn-outline pull-right m-t-n-xs"
                  type="button"
                  (click)="atualizar()"
                >
                  <strong>Atualizar</strong>
                </button>
              </div>
              <br />
            </form>
          </div>
          <div class="col-sm-8">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Cód.</th>
                    <th>Título</th>
                    <th>Descrição</th>
                    <th>Status</th>
                    <th>Data Criação</th>
                    <th>Data Atualização</th>
                    <th>Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of tarefas">
                    <td *ngIf="item.statusRemocao !== 1">{{ item.id }}</td>
                    <td *ngIf="item.statusRemocao !== 1">{{ item.titulo }}</td>
                    <td *ngIf="item.statusRemocao !== 1">{{ item.descricao }}</td>
                    <td *ngIf="item.statusRemocao !== 1">
                      <span class="label label-{{ item.status === 0 ? 'success' : 'primary' }}">{{
                        item.status === 0 ? 'CONCLUÍDO' : ' A FAZER '
                      }}</span>
                    </td>
                    <td *ngIf="item.statusRemocao !== 1">{{ item.dataCriacao | date: 'd/MM/y H:mm' }}</td>
                    <td *ngIf="item.statusRemocao !== 1">{{ item.dataAtualizacao | date: 'd/MM/y H:mm' }}</td>
                    <td *ngIf="item.statusRemocao !== 1">
                      <button
                        *ngIf="item.status === 1"
                        style="margin-right: 2px"
                        class="btn btn-info btn-sm"
                        (click)="editar(item.id)"
                      >
                        <i class="fa fa-paste"></i> Editar
                      </button>
                      <button
                        *ngIf="item.status === 1"
                        style="margin-right: 2px"
                        class="btn btn-primary btn-sm"
                        (click)="finalizar(item.id)"
                      >
                        <i class="fa fa-check"></i> Finalizar
                      </button>
                      <button *ngIf="item.status !== 1" class="btn btn-danger btn-sm" (click)="excluir(item.id)">
                        <i class="fa fa-close"></i> Excluir
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
